body,
html {
  height: auto;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b73302ddf5fabf9285df2da9c462efbb&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  width: 100%;
  height: auto;
  background-image: radial-gradient(
    at 300px 300px,
    rgba(255, 255, 255, 0.9) 0,
    #ffffff 70%
  );
}
